
@{
    ViewBag.Title = "AboutMe";
}
<div class="container-fluid">
    <h2>Something about Amber-Leigh</h2>
    <h5>About me</h5>
</div>
<br />
<div class="container-fluid">

    <div class="row">
        <div class="col-lg-8">
            <h2>Biography</h2>
            <p>Hi my name is Amber-Leigh Lezar! I'm currently a student at the University of Pretoria and I'm studying Information and Knowledge Systems. I enjoy web design so I'm having a lot of fun with my INF module.</p>
            <p>Vivamus dolor ligula, dictum a ante eu, consectetur mollis urna. Vestibulum ultrices tellus sed nibh feugiat iaculis. Duis elementum mauris sit amet efficitur gravida. Donec a dui venenatis, tristique neque eu, hendrerit ipsum. Nam auctor turpis ut fermentum hendrerit. Aliquam erat volutpat. Etiam metus leo, scelerisque eget tempor eu, tempus eget sapien. Phasellus id varius turpis, vel fermentum enim.</p>
            <p>Etiam in tempus nisl. Phasellus consectetur augue eget leo tristique, eu elementum magna dictum. In efficitur maximus sem, ac rhoncus sem blandit at. Sed ut sagittis magna. Sed tempus sapien in leo sollicitudin, id volutpat diam fermentum.</p>
        </div>
        <div class="col-lg-4">
            <img src="~/Content/Media/Images/Me.jpg" class="img-responsive">
        </div>
    </div>
</div>

